.topbox{
    position: fixed;
    width:100%;
    height:11%;
    background-color: #0C9A2B;
    
 }
 .footer{
  position: fixed;
  bottom: 0;
  padding: 0;
  height:4.5%;
  width: 100%;
    background-color: #dddbdb;
 }
 .hero-image {
    background-image: url("/assets/bi11.png");
    height: 100vh; 
    background-repeat: no-repeat; 
    background-size: cover;
    align-items: baseline;
    
  }
  .customerbox{
    position: absolute;
    width: 37%;
    height: 41%;
    left: 2%;
    top: 13%;
    /*border: 1px solid red;*/
    background-color: white;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.25));  
  }
  label{
    position: fixed;
    left:10%;
    font-size: 20px;
    
  }

  input{
    position: fixed;
    right: 10%;
    width: 50%;  
    font-size: 20px;
    margin-left:10%;
    margin-bottom: 0.5%;
    padding-left: 15px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 15px;
    cursor: text;
  }

  

  p{
    font-size: 20px;
    margin-left:10%;   
  }

  nz-select {
    width: 200px;
    font-size: 18px;
    margin-left:1%;
    margin-bottom: 0.5%;
    padding-left: 15px; 
    border: none;
      
  }

  button {

    border:none;
    font-size: 18px; 
    background-color: #0C9A2B;
     border-radius: 15px; 
     color: white; 
     padding: 5px;
    
  }

  button:hover{
    border:none;
    font-size: 18px; 
    background-color: #3fda2d;
    border-radius: 15px; 
    color: white; 
    padding: 5px;
     
  }
