<div class="topbox"> <!-- | green box |  -->
    <a href="#" style="position: absolute;bottom: 17%;left:2% " > 
        <img src="/assets/backbtn.png" alt="d"style="height: 59px;"></a> <!-- | back btn |  -->

    <img style="position: relative;left: 40%;top: 10px; height: 67px;" src="/assets/addordertxt.png" alt="add order text">
    <img style="position: fixed; right:0%; top: 10px; height: 67px;" src="/assets/nalogow.png" alt="Logo Na tree">
</div>
<div class="hero-image"><!-- | background image |  -->

    







</div>
<div class="footer"> <!-- | footer box |  -->
    <p style="position: relative; font-size: 15px;left:40%;top:20%;"><b>All Rights Reserved Inate 2021</b></p>
</div>