<div class="topbox"> <!-- | green box |  -->
    

    <img style="position: relative;left: 40%;top: 10px; height: 67px;" src="/assets/nalogow.png" alt="Na tree logo">
    
</div>
<div class="hero-image"><!-- | background image |  -->

    <p style="position: absolute; top: 100px;left: 45%; font-size: 40px;font-family: Sofia, sofia pro;">
        <b>ADMIN</b>
    </p>
    <p style="position: absolute; top: 160px;left: 38%; font-size: 30px;font-family: Sofia, sofia pro;text-align: center;">
        Wellcome to Na Tree POS system
    </p>

    <div class="row1">
        <div class="row1 img">
            <a href="#">
            <img src="cl1.png" alt="d">
            </a>
        </div>
    </div>
    <div class="row1">
        <div class="row1 img">
            <a href="#">
            <img src="cl2.png" alt="d">
            </a>
        </div>
    </div>
    <div class="row1">
        <div class="row1 img">
            <a href="#">
            <img src="cl3.png" alt="d">
            </a>
        </div>
    </div>
    <div class="row2">
        <div class="row2 img">
            <a routerLink="/Add-Order">
            <img src="assets/c21.png" alt="d">
            </a>
        </div>
    </div>

    <div class="row2">
        <div class="row2 img">
            <a routerLink="/Add-customers">
            <img src="assets/c22.png" alt="d">
            </a>
        </div>
    </div>
    <div class="row2">
        <div class="row2 img">
            <a routerLink="/Order-History">
            <img src="assets/c23.png" alt="d">
            </a>
        </div>
    </div>
    <div class="row2">
        <div class="row2 img">
            <a href="#">
            <img src="assets/c24.png" alt="d">
            </a>
        </div>
    </div>
    <div class="row2">
        <div class="row2 img">
            <a href="/Add-Product">
            <img src="assets/c25.png" alt="d">
            </a>
        </div>
    </div>




</div>

<div class="footer"> <!-- | footer box |  -->
    <p style="position: relative; font-size: 15px;left:40%;top:20%;"><b>All Rights Reserved Inate 2021</b></p>
</div>