<div class="topbox"> <!-- | green box |  -->
    <img id="logo"  src="/assets/nalogow.png" alt="Na tree logo">
</div>
<div class="hero-image"><!-- | background image |  -->

    
    <div class="col-12" style="height:40vh;"> 
        <img id="admintext" src="assets/admintxt.png" alt="admin,welcome to the pos system">
    </div>

    <div class="col-12" style="height:20vh;"> 
        <div class="middlerow">
            <div id="middlefloat"><app-view-offers></app-view-offers></div>
            <div id="middlefloat">
                <app-view-products></app-view-products>
               
            </div>
            <div id="middlefloat"><app-customer-details-page></app-customer-details-page></div>
        </div>
    </div>

    <div class="col-12" id="downrow" style="height:40vh;"> 
        <div class="row2">
            <div class="row2 img">
                <a routerLink="/Add-Order">
                <img src="assets/c21.png" alt="d">
                </a>
            </div>
        </div>

        <div class="row2">
            <div class="row2 img">
                <a routerLink="/Add-Offers">
                <img src="assets/c22.png" alt="d">
                </a>
            </div>
        </div>
        <div class="row2">
            <div class="row2 img">
                <a routerLink="/Order-History">
                <img src="assets/c23.png" alt="d">
                </a>
            </div>
        </div>
        <div class="row2">
            <div class="row2 img">
                <a href="/sales-Summery">
                <img src="assets/vsaless.png" alt="Sales summery button">
                </a>
            </div>
        </div>
        <div class="row2">
            <div class="row2 img">
                <a href="/Add-Product">
                <img src="assets/c25.png" alt="d">
                </a>
            </div>
        </div>
    </div>

</div>

<div class="footer"> <!-- | footer box |  -->
    <p style="position: relative; font-size: 15px;left:40%;top:20%;"><b>All Rights Reserved Inate 2021</b></p>
</div>