<div class="imagebtns" (click)="showModal()"> 
    <img src="/assets/veiwcusbtn.png" alt="d" style="height: 90px;">
</div>    
<nz-modal [(nzVisible)]="isVisible"  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="1400px">
      <ng-container *nzModalContent>
        <img src="/assets/vctext.png" alt="d"style="height: 59px;">
        <div class="box">
          <br>
        <label for="ino" style="font-size: 20px;bottom: 68%;left: 5%;">Search Customer :</label> 
            <input type="text" [(ngModel)]="searchPhone" id="ino" name="name" placeholder="0XX XXXXXXX" style="font-size:20px;">
            <button style="padding: 5px;" (click)="searchcustomer()" >Search</button>
            <br><br>
          <nz-table #editRowTable nzBordered [nzData]="listOfData" >
            <thead>
              <tr>
                <th> Customer Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Email</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of editRowTable.data" class="editable-row">
                <td>{{ data.customerName }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.email }}</td>
                <!--<td>
                  <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.offerCode)">Delete</a>
                </td>-->
              </tr>
            </tbody>
          </nz-table>
        
        </div>
      </ng-container>
    </nz-modal>
