<div class="imagebtns" (click)="showModal()"> 
    <img src="/assets/veiwcusbtn.png" alt="d" style="height: 90px;position: absolute;bottom: 6.5%;right: 29%;">
</div>    
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="1400px">
      <ng-container *nzModalContent>
        
        <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
            <thead>
              <tr>
                <th nzCustomFilter>
                    Customer Name
                  <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <i nz-icon nzType="search"></i>
                  </nz-filter-trigger>
                </th>
                <th>Phone</th>
                <th>Address</th>
                <th>PreparedBy</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of nzTable.data">
                <td>{{ data.name }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.email }}</td>
              </tr>
            </tbody>
          </nz-table>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search customer by name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </div>
          </nz-dropdown-menu>


      </ng-container>
    </nz-modal>
