<div style="min-height: 100vh;">
    <div class="topbox"> <!-- | green box |  -->
        
            <img style="position: fixed; right:45%; top: 10px; height: 67px;" src="/assets/nalogow.png" alt="Logo Na tree">

    </div>
    <div class="hero-image"><!-- | background image |  -->
        <a routerLink="/homepage" style="position: absolute;top: 13%;left:2% " > 
            <img src="/assets/backbtn.png" alt="d"style="height: 59px;"></a> <!-- | back btn |  -->
            
        <img style="position: relative;left: 37%;top: 12%; height: 67px;" src="/assets/orderhistory.png" alt="add order text">
        

        <div class="billbox"> <!-- | product details & table |  -->
            <div style="padding: 20px;overflow: scroll; overflow-x:hidden ;height: 500px;">
                <nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
                    <thead>
                      <tr>
                        <th>Order No</th>
                        <th>Invoice No</th>
                        <th>Customer Name</th>
                        <th>ApprovedBy</th>
                        <th>PreparedBy</th>
                        <th>Total</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of nzTable.data">
                        <td>{{ data.OrderNo }}</td>
                        <td>{{ data.InvoiceNo }}</td>
                        <td>{{ data.CustomerName }}</td>
                        <td>{{ data.ApprovedBy }}</td>
                        <td>{{ data.PreparedBy }}</td>
                        <td>Rs.{{ data.Total }}</td>
                        <td>{{ data.Date }}</td>
                      </tr>
                    </tbody>
                  </nz-table>
               
            </div>
          </div>

        <div class="footer"> <!-- | footer box |  -->
                <p style="position: relative; font-size: 15px;left:43%;top:22%;"><b>All Rights Reserved NaTree 2021</b></p>
        </div>
        
    </div>    
</div>
