<div>

  <div class="topbox"> <!-- | green box |  -->
        
    <img style="position: fixed; right:45%; top: 10px; height: 67px;" src="/assets/nalogow.png" alt="Logo Na tree">

  </div>

  <div class="hero-image"><!-- | background image |  -->

      <a href="#" style="position: absolute;top: 13%;left:2% " > 
        <img src="/assets/backbtn.png" alt="d"style="height: 59px;"></a> <!-- | back btn |  -->
        
    <img style="position: relative;left: 33%;top: 12%; height: 67px;" src="/assets/addprodtxt.png" alt="add order text">

    <div class="tablebox"> 

      <div class="tablebox2"><!-- | product details & table |  -->
        <h2 style="text-align: left;"><b>Enter Basic Info</b></h2>

        <label for="ino" style="font-size: 20px; bottom: 76.5%;">Product Name :</label>
        <input type="text" [(ngModel)]="ProductName" id="ino" name="name" placeholder="Customer name" style="bottom: 75%;" >
        
        <label for="ono"style="bottom: 67.5%;">Menu Code :</label>
        <input type="text" [(ngModel)]="MenuCode" id="ono" name="phone" placeholder="0XX XXX XXXX" style="bottom: 66%;"  >
        
        <label for="sd" style="font-size: 20px;" style="bottom: 58.5%;">Meat type :</label>
            <select id="Meattype" name="Meattype" [(ngModel)]="Meattype" class="form-control" style="bottom: 57%;" >
              <option  value="C" >C-Chicken</option>
              <option  value="F" >F-Fish</option>
              <option  value="V" >V-Vegetarian</option>
              <option  value="EGG" >EGG-Egg</option>
              <option  value="B" >B-Beef</option>
              <option  value="M" >M-Mutton</option>
              <option  value="PR" >PR-prawn</option>
              <option  value="PK" >PK-Pork</option>
              <option  value="CRAB" >CRAB-Crabs</option>
              <option  value="CHEESE" >CHEESE-Cheese</option>
            </select>
        
        <label for="sd" style="font-size: 20px;" style="bottom: 49.5%;">Meat Code :</label>
        <div  class="show" style="bottom: 48%;"><p>{{Meattype}}</p></div>
        <label for="st"style="bottom: 40.5%;">Additional Info :</label>
        <textarea id="w3review" [(ngModel)]="AdditionalInfo" placeholder="Customer Email" name="w3review" rows="4" cols="50" style="bottom: 25%;height: 20%;"></textarea>
        
        <div class="imagebtns"> <!-- | accept order btn |  -->
          <img src="/assets/viewpbtn.png" alt="d" style="height: 80px;position: absolute;bottom: 6.5%;right: 51%;">
        </div>
        <div class="imagebtns"> <!-- | cancel order btn |  -->
            <img src="/assets/orderhisbtn.png" alt="d" style="height: 80px;position: absolute; bottom: 6.5%;right: 18%;">
        </div>    
      </div>

      <div class="tablebox1"><!-- | product details & table |  -->
        <div class="tablebox3"><!-- | table |  -->

          <div>
            <label for="ino" style="font-size: 20px;position: fixed;top:3%;left:5%">Add Pax :</label>
              <input class="inputup" type="text" [(ngModel)]="Pax" id="ino1" name="name1" placeholder="Pax" style="font-size: 20px;position:fixed;top:3%;left:10%;width: 20%;" >
              <input class="inputup" type="text" [(ngModel)]="PaxPrice" id="ino2" name="name2" placeholder="Pax Price" style="font-size: 20px;position:fixed;top:3%;left:33%; width:35%;">
              <!--<button nz-button (click)="addRow()" nzType="primary" style="position: fixed;top:5%;left:25%" >Add</button>-->
              <button (click)="addRow()" style="position: fixed;top:2.5%;right:6%; width: 12%;" >Add+</button>
              <br />
            </div>    
              

            <div class="col-10" style="height: 60%; overflow-y: scroll;overflow-x: hidden; width:95%; margin-left: 3%;">
              <nz-table #editRowTable nzBordered [nzData]="listOfData" >
                <thead>
                  <tr>
                    <th>Pax</th>
                    <th>Pax Price</th>
                    <th>Generated Code</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of editRowTable.data" class="editable-row">
                    <td>{{ data.paxno }}</td>
                    <td>{{ data.paxprice }}</td>
                    <td>{{ data.generatedCode }}</td>
                    <td>
                      <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.paxno)">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
        </div>

       <!-- <div class="generatebox" style="border: 3px solid #0C9A2B; position:absolute;bottom:28%; width: 80%; height: 18%; border-radius: 20px;">
          <label for="sd" style="font-size: 20px; bottom: 31%; margin-left: 6%; " ><b>Generated </b><br><b>Meat Code</b> </label>
          <label for="ssd" style="font-size: 30px; bottom: 33%; margin-left: 22%; " >= </label>
          <div  class="show" style="bottom: 32%; width:48%;right: 15%;height: 8%;"><p>{{GeneratedCode}}</p></div>

        </div>-->

        <div class="imagebtns"> <!-- | accept order btn |  -->
          <img src="/assets/acceptobtn.png" alt="d" style="height: 80px;position: absolute;bottom: 6.5%;right: 50%;">
        </div>
        <div class="imagebtns"> <!-- | cancel order btn |  -->
            <img src="/assets/cancelobtn.png" alt="d" style="height: 80px;position: absolute; bottom: 6.5%;right: 23%;">
        </div>

      </div>

    </div>

  </div>


  <div class="footer"> <!-- | footer box |  -->
    <p style="position: relative; font-size: 15px;left:31%;top:22%;"><b>All Rights Reserved NaTree 2021</b></p>
  </div>
</div>  



