<div>
    <div class="topbox"> <!-- | green box |  -->
        <a routerLink="/homepage" style="position: absolute;bottom: 17%;left:2% " > 
            <img src="/assets/backbtn.png" alt="d"style="height: 59px;"></a> <!-- | back btn |  -->

        <img style="position: relative;left: 40%;top: 10px; height: 67px;" src="/assets/addordertxt.png" alt="add order text">
        <img style="position: fixed; right:0%; top: 10px; height: 67px;" src="/assets/nalogow.png" alt="Logo Na tree">
    </div>
    <div class="hero-image"><!-- | background image |  -->

        <div class="orderbox"><!-- | order details |  -->
            <h2 style="text-align: center;"><b><u>Order Details</u></b></h2>
            <p >Order Date : {{CurrentDate}}</p>
            <form action="/action_page.php" autocomplete="off">
                <!--<input type="text" [(ngModel)]="matName" id="fname" name="firstname" >-->
                <label for="ino" style="font-size: 20px; bottom: 62%;">Invoice No :</label>
                <input type="text" [(ngModel)]="InvoiceNo" id="invoiceno" name="Invoice No" placeholder="XXXX" style="bottom: 60%;">
                <label for="ono" style="bottom: 50%;">Order no :</label>
                <input type="text" [(ngModel)]="OrderNo" id="orderno" name="Order no" placeholder="XXXX" style="bottom: 48%;" >
                <label for="sd" style="font-size: 20px;" style="bottom: 38%;">Supply date :</label>
                <input type="text" [(ngModel)]="SupplyDate" id="supplydate" name="Supply date" placeholder="00/00/0000" style="bottom: 36%;">
                <label for="st" style="bottom: 26%;">Supply time:</label>
                <input type="text" [(ngModel)]="SupplyTime" id="supplyTime" name="SupplyTime" placeholder="00.00" style="bottom: 24%; width:30%;right:30%">
                <select id="SupplyTime2" name="SupplyTime2" [(ngModel)]="SupplyTime2" class="form-control" style="bottom: 24%; width:19%;right:10%;height:11%;">
                    <option  value="AM" >AM</option>
                    <option  value="PM" >PM</option>
                  </select>
                <label for="srn" style="bottom: 14%;" >supply ref no:</label>
                <input type="text" [(ngModel)]="SuplierRefNo" id="supplyrefno" name="SupplyRefNo" placeholder="XXXX" style="bottom: 12%;">
          
            </form>

        </div>

        <div class="customerbox"> <!-- | customer details |  -->
            <h2 style="text-align: center;"><b><u>Customer Details</u></b></h2>

            <label for="ino" style="font-size: 20px;bottom: 68%;left: 5%;">Search <br> Customer :</label>
            <input type="text" [(ngModel)]="SearchCustomer" id="sc" name="name" placeholder=" 0XX XXX XXXX" style="font-size:20px;bottom: 67.5%;right: 27%;height: 48px; width:47%">
            
            <button style="padding: 5px;bottom: 68%;position: fixed;right:5%;  width:20%;height: 48px;" (click)="searchCustomer()" >Search</button>
            
              
            <hr style="width:98%;text-align:left;margin-left:3px ;bottom: 60%;position: fixed;">
              <form action="/action_page.php">
                <!--<input type="text" [(ngModel)]="matName" id="fname" name="firstname" >-->
                <label for="ino" style="font-size: 20px; bottom: 48%;">Name :</label>
                <input type="text" [(ngModel)]="Name" id="cn" name="name" placeholder="Customer name" style="bottom: 45%;" >
                <label for="ono"style="bottom: 35%;">Phone :</label>
                <input type="text" [(ngModel)]="Phone" id="phone" name="phone" placeholder="0XX XXX XXXX" style="bottom: 32%;" >
                <label for="sd" style="font-size: 20px;" style="bottom: 22%;">Address :</label>
                <input type="text" [(ngModel)]="Address" id="address" name="address" placeholder="Customer Address" style="bottom: 19%;">
                <label for="st"style="bottom: 9%;">Email :</label>
                <input type="text" [(ngModel)]="Email" id="email" name="email" placeholder="Customer Email" style="bottom: 6%;">
          
            </form>

        </div>

        <div class="billbox"> <!-- | product details & table |  -->
            <app-add-order-table></app-add-order-table>

            <div style="width: 50%;height:25%;position: absolute;bottom: 0%;right: 50%;">
               
                <label for="st" style="bottom: 24%; left:5%;" >Discount :</label>
                <input type="text" [(ngModel)]="Discount" id="discount" name="lastname" placeholder="00%" style="margin-left:5%;width:35%;bottom: 22%;left:15%;width: 30%;">
                <label for="st" style="bottom: 15.5%; left:5%;">Prepared By :</label>
                <input type="text" [(ngModel)]="PreparedBy" id="preparedby" name="lastname" placeholder="" style="margin-left:5%;width:35%;bottom: 14%;left:15%;width: 30%;">
                <label for="st" style="bottom: 7%; left:5%;">Approved By :</label>
                <input type="text" [(ngModel)]="ApprovedBy" id="approveedby" name="lastname" placeholder="" style="margin-left:5%;width:35%;bottom: 6%;left:15%;width: 30%;">
              
            </div>
            <div style="width: 50%; height:25%;position: absolute;bottom: 0%;right: 0%;">
               
                <p style="margin-top:5px; position: fixed; top:73%;">Sub Total : Rs. {{SubTotal}}</p>
                <p style="margin-top:5px; position: fixed; top: 80.5%;">Disconut : Rs. {{DiscontShow}}</p>
                <p style="margin-top:5px; position:fixed; top: 87%;"><b>Total : Rs. {{Total}}</b></p>
                
              
            </div>

        </div>

        <div class="imagebtns" (click)="showModal()" style="position: absolute;bottom: 6.5%;right: 46%;"> <!-- | print btn |  -->
            <img src="/assets/print btn.png" alt="d" style="height: 90px;">
        </div>
        <div style="position: absolute;bottom: 6.5%;right: 32.5%;">
            <app-customer-details-page></app-customer-details-page>
        </div>
        <div class="imagebtns" (click)="addOrder()" style="position: absolute;bottom: 6.5%;right: 15%;"> <!-- | accept order btn |  -->
            <img src="/assets/acceptobtn.png" alt="d" style="height: 90px;">
        </div>
        <div class="imagebtns" style="position: absolute; bottom: 6.5%;right: 1%;"> <!-- | cancel order btn |  -->
            <img src="/assets/cancelobtn.png" alt="d" style="height: 90px;">
        </div>

        <div class="footer"> <!-- | footer box |  -->
                <p style="position: relative; font-size: 15px;left:30%;top:22%;"><b>All Rights Reserved NaTree 2021</b></p>
        </div>
        
    </div>    
</div>

<!-- Modal to show printing page -->

<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="800px">
    <ng-container *nzModalContent>
        <div id="printbtndiv" >
          <button id="printbtn"(click)="print()" style="text-align: center;width:150px; height:50px;" >Print</button> 
          <br>
        </div>
        
        <div id="print-section" class="card" style="padding: 0;">
            
          <div class="card-body">

            <div style="width:700px; height:800px;">

              <div class="col-6" > 
                  <img style="width:200px; height:auto;margin-left:23%;" src="/assets/natreec.png" />
                  <br>
                  <h1 style="font-size: 50px;text-align: center;">Invoice</h1>
              </div>
              <div class="col-6"> 
                  <div style="width:280px; height:100px; float:right; text-align:left; font-size:14px;">
                        <p style="font-size: 15px;">Na Tree caterers (pvt) Ltd<br>
                          No 93/2 A, Old road, Nawala(11222).<br>
                          O: 011 280 5883 | M: 077 746 4644<br>
                          www.thenatree.com</p>
                  </div>
              </div>
                <div class="col-6"> 
                  <br>
                  <table style="width:98% ;font-size:14px; margin-left:2%; ">	 
                    <tr>
                      <th>Date:</th>
                      <td>{{CurrentDate}}</td>
                    </tr>
                    <tr>
                      <th >Invoice No:</th>
                      <td>{{InvoiceNo}}</td>
                    </tr>
                    </table>
                </div>

              <div class="col-12">
                <div class="col-6" > 
                  <table style="width:100% ;font-size:14px;">	 
                    <tr>
                      <th>Name:</th>
                      <td>{{Name}}</td>
                    </tr>
                    <tr>
                      <th >Telephone:</th>
                      <td>{{Phone}}</td>
                    </tr>
                    <tr>
                      <th>Address:</th>
                      <td>{{Address}}</td>
                    </tr>
                    <tr>
                      <th>Email:</th>
                      <td>{{Email}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-6"> 
                      <table style="width:98% ; font-size:14px; margin-left:2%;">	 
                    <tr>
                      <th>supply Date:</th>
                      <td>{{SupplyDate}}</td>
                    </tr>
                    <tr>
                      <th>supply time:</th>
                      <td>{{SupplyTime}}</td>
                    </tr>
                    <tr>
                      <th >supp ref no:</th>
                      <td>{{SuplierRefNo}}</td>
                    </tr>
                    <tr>
                      <th >Order no:</th>
                      <td>{{OrderNo}}</td>
                    </tr>
                    </table>
                </div>
              </div>
              
              <div class="col-12" style="height:300px">
                <br>
                <table style="font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100%;float:center;font-size:16px;">
                  <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>Rate</th>
                    <!--<th>Total(LKR)</th>-->
                  </tr>
                  <tr *ngFor="let data of listOfData " >
                    <td>{{ data.offerName }}</td>
                    <td>{{ data.offerCode }}</td>
                    <td>{{ data.products}}</td>
                    <!--<td>{{ phone}}</td>-->
                  </tr>
                </table>
              </div>

              <div class="col-12" >
                <div class="col-6">
                  <table style="width:100% ;font-size:14px;">	 
                    <tr>
                      <th>Prepared by:</th>
                      <td>{{PreparedBy}}</td>
                    </tr>
                    <tr>
                      <th >Approved by:</th>
                      <td>{{ApprovedBy}}</td>
                    </tr>
                    <tr>
                      <th>Notes/Terms & condition:</th>
                      <td><br></td>
                    </tr>
                  </table>
                </div>
                <div class="col-6">
                  <table style="width:98% ;font-size:14px; margin-left:2%;">	 
                    <tr>
                      <th>Sub total:</th>
                      <td>{{SubTotal}}</td>
                    </tr>
                    <tr>
                      <th >Discount:</th>
                      <td>{{DiscontShow}}</td>
                    </tr>
                    <tr>
                      <th> Advance:</th>
                      <td>.</td>
                    </tr>
                    <tr>
                      <th ><b>Total</b>:</th>
                      <td>Total</td>
                    </tr>
                    </table>
                </div>
              </div>

              <div class="col-12">
                <p style="font-size:17px;float:center;"> Please write the cheques in favour of NA TREE CATERERS PVT LTD </p>
              </div>

            </div>
          </div>
            
        </div>
              
              

    </ng-container>
  </nz-modal>
