[class*="col-"] {
	float:left;
    padding: 0;
/*border: 1px solid red; /*remove this line after */

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 20%;}   /*25*/
.col-4 {width: 33.33%;} /*25*/
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 80%;}  /*75*/
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.topbox{
    position: fixed;
    width:100%;
    height:11%;
    background-color: #0C9A2B;
    
 }
 .footer{
  position: fixed;
  bottom: 0;
  padding: 0;
  height:4.5%;
  width: 100%;
    background-color: #dddbdb;
 }
 .hero-image {
    background-image: url("/assets/bi11.png");
    height: 100vh; 
    background-repeat: no-repeat; 
    background-size: cover;
    align-items: baseline;
    
  }

  .orderbox{
    position: absolute;
    width: 37%;
    height: 40%;
    left: 2%;
    top: 12%;
    /*border: 1px solid red;*/
    background-color: white;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.25));

  }

  .customerbox{
    position: absolute;
    width: 37%;
    height: 41%;
    left: 2%;
    top: 53%;
    /*border: 1px solid red;*/
    background-color: white;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.25));  
  }

  .billbox{
    position: absolute;
    width: 57%;
    height: 68%;
    left: 40.5%;
    top: 12%;
    /*border: 1px solid red;*/
    background-color: white;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));    
  }


  label{
    position: fixed;
    left:10%;
    font-size: 20px;
    
  }

  input{
    position: fixed;
    right: 10%;
    width: 50%;  
    font-size: 20px;
    margin-left:10%;
    margin-bottom: 0.5%;
    padding-left: 15px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 15px;
    cursor: text;
  }

  

  p{
    font-size: 20px;
    margin-left:10%;   
  }

  nz-select {
    width: 200px;
    font-size: 18px;
    margin-left:1%;
    margin-bottom: 0.5%;
    padding-left: 15px; 
    border: none;
      
  }

  button {

    border:none;
    font-size: 18px; 
    background-color: #0C9A2B;
     border-radius: 15px; 
     color: white; 
     padding: 5px;
    
  }

  button:hover{
    border:none;
    font-size: 18px; 
    background-color: #3fda2d;
    border-radius: 15px; 
    color: white; 
    padding: 5px;
     
  }

  
