
<div>
    <label for="ino" style="font-size: 20px;position: fixed;top:3%;left:0%">Add Product :</label>
      <input class="inputup" type="text" [(ngModel)]="SelectedProductCode" id="ino" name="SelectedProductCode" placeholder="Product Code" style="font-size: 20px;position: fixed;top:3%;left:23%" >
      <input class="inputup" type="text" [(ngModel)]="SelectedQty" id="ino" name="selectedQty" placeholder="Qty" style="font-size: 20px;position: fixed;top:3%;left:50%">
      <!--<button nz-button (click)="addRow()" nzType="primary" style="position: fixed;top:5%;left:25%" >Add</button>-->
      <button (click)="validateAndAdd()" style="position: fixed;top:2.5%;right:6%; width: 12%;" >Add</button>
      <br />
      <br />
</div>

<div class="col-10" style="height: 60%; overflow-y: scroll;overflow-x: hidden; width:95%; margin-left: 3%;">
    <br />
    <nz-table #editRowTable nzBordered [nzData]="listOfData" >
      <thead>
        <tr>
          <th nzWidth="30%">Product Code</th>
          <th>Description/Menu</th>
          <th>Rate</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data" class="editable-row">
          <td>{{ data.ProductCode }}</td>
          <td>{{ data.Menu }}</td>
          <td>{{ data.Rate}}</td>
          <td>{{ data.Qty}}</td>
          <td>{{ data.Price }}</td>
          <td>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.ProductCode)">Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
</div>