

<div class="imagebtns" (click)="showModal()"> 
    <img src="/assets/voff.png" alt="d" style="height: 90px;">
</div>    
<nz-modal [(nzVisible)]="isVisible"  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="1400px" >
      <ng-container *nzModalContent>
        <img src="/assets/votext.png" alt="d"style="height: 59px;">
        <div class="box">
          <br>
        <label for="ino" style="font-size: 20px;bottom: 68%;left: 5%;">Search Offer :</label> 
            <input type="text" [(ngModel)]="searchValue" id="ino" name="name" placeholder="Offer name" style="font-size:20px;">
            <button style="padding: 5px;" (click)="searchOffer()" >Search</button>
            <br><br>
        <nz-table #editRowTable nzBordered [nzData]="listOfData" >
            <thead>
              <tr>
                <th>Offer Name</th>
                <th>Offer Code</th>
                <th>Products/Items</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of editRowTable.data" class="editable-row">
                <td>{{ data.OfferName }}</td>
                <td>{{ data.OfferCode }}</td>
                <td>{{ data.offerProducts}}</td>
                <td>
                  <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.OfferCode)">Delete</a>
                </td>
              </tr>
            </tbody>
          
          </nz-table>
        </div>
      </ng-container>

    </nz-modal>